<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paperlessmeeting_demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" /> <!-- 手机必须支持USB主机特性(OTG) -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!--
  <uses-permission name="android.permission.WRITE_EXTERNAL_STORAGE">
        <group gid="sdcard_rw"/>
    </uses-permission>
    <uses-permission name="android.permission.WRITE_MEDIA_STORAGE">
        <group gid="media_rw"/>
    </uses-permission>
    -->
    <!-- // 手机必须支持USB主机特性(OTG) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 添加权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 手机必须支持USB主机特性(OTG) -->
    <!--
  <uses-permission name="android.permission.WRITE_EXTERNAL_STORAGE">
          <group gid="sdcard_rw"/>
      </uses-permission>
      <uses-permission name="android.permission.WRITE_MEDIA_STORAGE">
          <group gid="media_rw"/>
      </uses-permission>
    -->
    <!-- // 手机必须支持USB主机特性(OTG) -->
    <uses-feature android:name="android.hardware.usb.host" />

    <permission
        android:name="android.permission.HIDE_NON_SYSTEM_OVERLAY_WINDOWS"
        android:protectionLevel="signature|installer" />

    <application
        android:name=".MeetingAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_desktop"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.Sign.SignListActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.Sign.SignActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- 今日头条适配尺寸配置 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="1920" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1080" />

        <activity
            android:name=".activity.Initialization.InitiaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TempFileActivity"
            android:screenOrientation="landscape" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
<activity
            android:name=".activLoginActivity1vity"
            android:screenOrientation="portrait" />
        -->
        <!--
   <activity
               android:name=".activity.VideoChatActivity"
               android:screenOrientation="portrait" />
        -->
        <!--
    <activity
                android:name=".activity.MainActivity1"
                android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".activity.Note.AddContent"
            android:screenOrientation="landscape"
            android:theme="@style/noteTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <!--
<activi
            android:name=".activity.FileDisplayActivity"
            android:screenOrientation="landscape" />
        -->
        <activity
            android:name=".activity.FileListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PdfActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityBrowser"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityListMeeting"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivitySearchListMeeting"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlayerLiveActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityVideo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityFileVideo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WhiteBoardActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WhiteBoardActivity"
            android:screenOrientation="landscape"
            android:splitMotionEvents="false" />
        <activity
            android:name=".activity.CommonWebViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityImage"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityVideoView"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityAboutSoft"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivitySearchFile"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivityOnlineFileBrowser"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CalculatorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LoginA"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ScreenReceiveActivity2"
            android:screenOrientation="landscape" />
        <!--
     <activity
                 android:name=".activity.ScreenReceiveActivity"
                 android:screenOrientation="landscape" />
             <activity
        -->
        <activity
            android:name=".activity.ActivityMinuteMeeting"
            android:screenOrientation="landscape"
            android:theme="@style/DialogActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.canvas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityMemberSsignApproval"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Screen"
            android:screenOrientation="landscape" />
     <activity
            android:name=".activity.WuHuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.EditWuHuActivity"
             />
        <!--android:theme="@style/MyDialogActivityRight"-->
        <activity
            android:name=".activity.WuHuVoteActivity"
            android:screenOrientation="landscape" />

        <!--   <activity
               android:name=".activity.ScreenReceiveActivity"
               android:screenOrientation="landscape" />
           <activity
               android:name=".activity.SendScreenActivity"
               android:screenOrientation="landscape" />
        -->
        <service android:name=".activity.WhiteBoardServies" />
        <service android:name=".sharefile.BroadcastUDPFileService" /> <!-- <service android:name=".activity.BrowserServies"></service> -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
        <!-- 注册系统广播 -->
        <!-- // 注册系统广播 -->
        <receiver android:name=".tool.MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".tool.BootRestartReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>